@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Prata', serif;
}

body{
    background-color:rgb(204, 207, 204);
}

.container{
    background-color: rgb(238, 124, 31);
    position: fixed ;
    width: 400px;
    height: 400px;
    top:50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
}

header .n{
    text-align: center;
}

.n{
    margin: auto;
    text-align: center;
    padding: 10px;
}

#resultado{
    color: black;
    font-size: 30px;
}

#btn{
    margin-top: 15px;
}